---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Aboute the project">
	<!-- div with max width of 80% of the vw -->
	<div
		class="max-w-80vw mx-auto p-10"
	>
	<h1 class="text-2xl font-bold mb-4"
	>Acerca del proyecto</h1>
	<p class="mb-4 text-lg text-justify">
		El proyecto de lanzamientos de SpaceX es una aplicación web que te permite ver los lanzamientos de la compañía SpaceX, puedes ver los detalles de los lanzamientos, los cohetes, las misiones y los detalles de la compañía.
	</p>
	<p class="mb-4 text-lg text-justify">
		La aplicación está hecha con Astro, un marco de trabajo moderno para la creación de aplicaciones web, que te permite crear aplicaciones web rápidas y modernas, con un alto rendimiento y una experiencia de desarrollo increíble.
	</p>
	<p class="mb-4 text-lg text-justify">
		La aplicación utiliza la API de SpaceX para obtener los datos de los lanzamientos, cohetes, misiones y detalles de la compañía, la aplicación es de código abierto y puedes ver el código fuente en GitHub.
	</p>
	<!-- despedida -->
	<p class="mb-4 text-lg text-justify">
		Espero que disfrutes de la aplicación y que te sea útil, si tienes alguna sugerencia o comentario, no dudes en contactarme.
	</p>
	<!-- hecho con (L) -->
	<p class="mb-4 text-lg text-justify">
		Hecho con ❤️ por <a href="https://www.github.com/jmquintana" target="_blank" class="text-blue-500">José María Quintana</a>
	</p>
</div>
</Layout>